.filter__container {
  padding: 2.5rem 4rem;
  width: 100%;
  .filter__header {
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    &-btn {
      background-color: rgb(170 76 2 / 1);
      padding: 1.2rem;
      height: 3.5rem;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 10rem;
    }
  }
  .filter__options {
    .filter__category {
      &-title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
        font-style: italic;
        margin-top: 1.5rem;
      }

      .filter__options-list {
        padding: 0;
        .filter__option-item {
          list-style: none;

          label {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            cursor: pointer;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            padding-top: 0.8rem;

            input[type='checkbox'] {
              margin: 0;
              cursor: pointer;
              width: 1.8rem;
              height: 1.8rem;
            }

            input[type='checkbox']:checked {
              accent-color: #009e99;
            }
          }
        }
      }
    }
  }

  .filter__btn {
    margin-top: 2.5rem;
    button {
      background-color: #fff;
    }
  }
}
